:root {
	--main-bg-color: #23212b;
	--main-font-color: #ddd;
	--dark-font-color: #222;
	--slight-color: #e0e0e0;
	--less-slight-color: #ccc;

	--link-color: #2a2a2a;
	--link-active-color: #1f1f1f;
	--link-hover-color: #606060;
	--link-visited-color: #7f7f7f;
}
@media (prefers-color-scheme: light) {
	:root {
		--main-bg-color: #eee;
		--main-font-color: #3e3e3e;
		--slight-color: #202020;
		--less-slight-color: #ccc;

		--link-color: #2a2a2a;
		--link-active-color: #1f1f1f;
		--link-hover-color: #606060;
		--link-visited-color: #7f7f7f;
	}
}

body{
	background:var(--main-bg-color);
	color:var(--main-font-color);
	text-align:center;
	font-family:Arial, sans-serif;
	margin:0;
	padding:0;
	padding-top:5px;
	padding-bottom:20px
}
a{color:var(--link-color);text-decoration:none;font-weight:bold;cursor:pointer}
a:visited{color:var(--link-visited-color)}
a:focus{color:var(--link-hover-color)}
a:hover{color:var(--link-hover-color);text-decoration:underline}
a:active{color:var(--link-active-color);text-decoration:underline}

table{margin:auto; border-collapse:collapse}
td,tr{text-align:left}
td{border:1px solid black}
#maintable td:first-child{text-align:right;border:none}
td,th{padding:2px}
progress{width:100%!important;display:block}
a label{color:#000; text-align:center; display:block}
a label:hover{color:#000}
td a{display:block}
th span{font-family:Sort Indicators; font-size:14pt; float:left}

.state-seen{background:#6cf96c;/*#4f4*/}
.state-broken,.state-paused{background:#fb0}
.state-partly{background:#ff2}
.state-want{background:#bbb}
.state-backlog{background:#999}
.state-broken{background-image:repeating-linear-gradient(135deg,transparent,transparent 30px,#999 30px,#999 70px)}
.state-okay{background:#777; color:#eee}
.state-nope{background:#666; color:#eee}

th span{font-weight:900}
#legend label{display:block; text-align:center; font-weight:900; color:var(--dark-font-color)}
#legend label input{float:right}
#sort-0 span{color:#f2cd69}
#sort-1 span{color:#fca265}
#sort-2 span{color:#fe746b}
#sort-3 span{color:#ef4c83}
#sort-4 span{color:#c545a5}
#sort-5 span{color:#9b3dba}
#sort-6 span{color:#6940b7}
#sort-7 span{color:#283eb2}

input{background:var(--less-slight-color); border:none}
input[type="button"], input[type="checkbox"]{cursor:pointer;font-size:900}
label{cursor:pointer}
input#reset{background:#ef4c83; margin-bottom:15px}
th[data-field]{cursor:pointer}

.grid{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(200px, 320px));
	place-content:center;
}
.grid > *{place-content:center; padding:10px 0}

@font-face {
	font-family: "Sort Indicators";
	src: url("font-sort-indicators.otf");
}
